opencv-python>=4.9
opencv-contrib-python>=4.9
numpy>=1.25
rich>=13.7
ultralytics>=8.0.0
torch>=2.1
torchvision>=0.16
facenet-pytorch>=2.5
mediapipe

# execute program by "python -m src.main" in project folder root.